---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import EmployeeImg from "../assets/employee.jpg";
import Logos from "@components/logos.astro";
import { Icon } from "astro-icon/components";
// import Cta from "@components/cta.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="badge">ABOUT US</Fragment>
      <Fragment slot="title">We're Building Future</Fragment>
      <Fragment slot="desc">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special..
      </Fragment>
    </Sectionhead>
    <div class="mt-6 text-center">
      <Link style="outline" size="sm" href="#" target="_blank" rel="noopener">
        Learn more →
      </Link>
    </div>
    <div class="mt-16 border-y border-slate-100 py-6">
      <Logos />
    </div>

    <div class="mx-auto mt-24 grid gap-10 sm:grid-cols-2">
      <div class="relative">
        <div
          class="absolute right-0 top-1/3 -z-10 hidden h-96 w-96 rounded-full bg-purple-100 md:block">
        </div>
        <div
          class="absolute left-10 top-1/4 -z-10 hidden h-44 w-44 rounded-full bg-purple-100 md:block">
        </div>
        <Picture
          formats={["avif", "webp"]}
          src={EmployeeImg}
          alt="Happy Team"
          class="mx-auto w-full max-w-md rounded-xl shadow-2xl"
          loading="lazy"
        />
      </div>
      <div class="place-self-center">
        <h2 class="-mt-2 text-5xl tracking-tight text-gray-800">
          <span class="text-indigo-600">Our</span>
          {" "}
          <strong>Mission</strong>
        </h2>
        <p class="mt-4 max-w-xl text-lg leading-relaxed text-slate-500">
          We're a multi-cultural team from around the world! We come from
          diverse backgrounds, bringing different personalities, experiences and
          skills to the job. This is what makes our team so special.
        </p>
        <ul class="mt-6 grid gap-y-4 text-left">
          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="h-5 w-5" />

            <span class="text-slate-600">Intelligent Task Management</span>
          </li>

          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="h-5 w-5" />

            <span class="text-slate-600">Real-time Collaboration</span>
          </li>

          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="h-5 w-5" />

            <span class="text-slate-600">Data Security & Privacy</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-24">
      <h2 class="text-center text-4xl lg:text-5xl lg:tracking-tight">
        Core <span class="font-bold text-indigo-600">Team</span>
      </h2>
      <p class="mt-4 text-center text-lg text-slate-600">
        Astroship is built by these awesome individuals.
      </p>
    </div>

    <div class="mx-auto mt-12 grid gap-10 md:grid-cols-4">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="aspect-square w-full">
              <Picture
                src={teamMemberEntry?.data?.avatar?.src}
                alt={teamMemberEntry?.data?.avatar?.alt || "Team Member"}
                loading="lazy"
                width={400}
                height={400}
                formats={["avif", "webp"]}
                class="h-full w-full rounded bg-white object-cover transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  <!-- <Cta /> -->
</Layout>
