---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/images/main-stage/kindred/KEEAHN_KINDRED_MAIN-STAGE.jpg";
import FeatureImgTwo from "../assets/images/main-stage/kindred/RAS-JAHKNOW_KINDRED_MAIN-STAGE.jpg";
import FeatureImgThree from "../assets/images/main-stage/kindred/NIKODIMOS_KINDRED_MAIN-STAGE.jpg";
import FeatureImgFour from "../assets/images/main-stage/kindred/ANNALIESE_KINDRED_MAIN-STAGE.jpg";
import FeatureImgFive from "../assets/images/main-stage/kindred/THE-THIRST-TRAP_KINDRED_MAIN-STAGE.jpg";
import FeatureImgSix from "../assets/images/main-stage/kindred/MAE-MOBLY_KINDRED_MAIN-STAGE.jpg";
import FeatureImgSeven from "../assets/images/main-stage/kindred/RAY-PEREIRA-JULIEN-WILSON_KINDRED_MAIN-STAGE.jpg";
import FeatureImgEight from "../assets/images/main-stage/kindred/PRETTY-MOI_KINDRED_MAIN-STAGE.jpg";
---

<div class="mt-24">
  <h2 class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
    Train station car park <span class="text-indigo-600">comes alive!</span>
  </h2>
  <p class="mt-4 text-center text-lg text-slate-600">
    Our Main Stage is now situated behind the Sun Cinema. A great selection of
    acts selected by Kindred. This year’s Yarraville Festival Main Stage is
    proudly programmed by Kindred Studios in collaboration with Songlines
    Aboriginal Music and Freeza Youth Services.
  </p>
  <p class="mt-4 text-center text-lg text-slate-600">
    Music will kick off from 10am with Ed Moon, Chief Tebir and MS NIASHA. A
    wonderful array of acts curated by Freeza.
  </p>
</div>

<div class="mt-10 grid gap-10 md:grid-cols-2 lg:grid-cols-2">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgOne}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">4:00 - 5PM</span>
    <span slot="title">Kee’ahn</span>
    <span slot="desc">
      Kee’ahn is a proud Yalanji, Jirrbal, Badu islander artist who in 2019
      ventured from their home town in North Queensland, to pursue a dream in
      the Eastern Kulin Nation (Melbourne, Australia). On May 28, 2020, Kee’ahn
      released debut single ‘Better Things’.
    </span>
  </Card>

  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">5:20 - 6PM</span>
    <span slot="title">Ras Jahknow</span>
    <span slot="desc">
      Iconic Melbourne reggae ensemble Ras Jahknow Band, bring their dynamic,
      high-energy, positive music to the people with a stage show guaranteed to
      uplift and inspire with their powerful messages.
    </span>
  </Card>
</div>

<div class="mt-10 grid gap-10 md:grid-cols-2 lg:grid-cols-2">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgThree}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">3:15 - 4:00PM</span>
    <span slot="title">Nikodimos & The Free Speakers </span>
    <span slot="desc">
      Nikodimos is a multi-instrumentalist, producer, composer and song-writer
      who lives and breathes music. Nikodimos’ technicoloured essence is
      unmistakable the moment he touches sound. Will be joined by the Free
      Speakers, Ryo Montgomery (Izy) & Kuzco plus a guest or two may join the
      band as well</span
    >
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgFour}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">12 - 12:30PM</span>
    <span slot="title">Annaliese Rose </span>
    <span slot="desc">
      As a singer/song-writer, Annaliese Rose has acquired a charisma and
      writing style well beyond her years. Annaliese released her EP 'Whole' in
      July of 2019. Following the success of her debut EP 'Whole', Annaliese
      released her anticipated second EP, 'More of a Monument Than Ever Before'.
      This sound is somehow sadder than her prior work, yet still comforting and
      familiar to her audience.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgFive}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">12:45 - 1:15PM</span>
    <span slot="title">The Thirst Trap</span>
    <!-- <span slot="desc">
      You can highlight your features in a trendy grid like this one.</span
    > -->
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgSix}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">1:30 - 2:00PM</span>
    <span slot="title">Mae Mobly</span>
    <!-- <span slot="desc">
      You can highlight your features in a trendy grid like this one.</span
    > -->
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgSeven}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">2:15 - 3:00PM</span>
    <span slot="title">Ray Pereira & Julien Wilson</span>
    <!-- <span slot="desc">
      You can highlight your features in a trendy grid like this one.</span
    > -->
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgEight}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">6:20 - 7PM</span>
    <span slot="title">Pretty Moi</span>
    <!-- <span slot="desc">
      You can highlight your features in a trendy grid like this one.</span
    > -->
  </Card>
</div>
<p class="mt-4 text-center text-lg text-slate-600">
  From midday, the Kindred Main Stage is a back-to-back line up of some of
  Melbourne’s best artists, such as Kee’ahn, Nikodimos & The Free Speakers, Ray
  Pereira, Ras Jahknow, Pretty Moi, Annaliese Rose, The Thirst Trap & more!
</p>
<p class="mt-4 text-center text-lg text-slate-600">
  Can’t wait to see you on the dance floor on Sunday, 17th March. Kindred Main
  Stage located at the rear of the Sun Theatre on Canterbury Street.
</p>
