---
import { Picture } from "astro:assets";
import Box from "@components/ui/box.astro";
import Link from "@components/ui/link.astro";
const { text, title, name, image, button, path } = Astro.props;
---

<Box
  class="flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col first-of-type:scroll-m-10">
  <!-- <div class="absolute font-serif text-5xl left-2 top-8 text-slate-300 -z-10">
    “
  </div> -->

  <div class="mt-5 flex items-center gap-3">
    <div class="shrink-0">
      <Picture
        class="h-12 w-12 rounded-full bg-slate-100 object-cover"
        formats={["avif", "webp"]}
        src={image}
        alt={name}
        width="48"
        height="48"
        loading="lazy"
      />
    </div>
    <div>
      <h2 class="font-medium text-slate-800">{name}</h2>
      <p class="text-sm text-slate-600">{title}</p>
    </div>
  </div>
  <blockquote class="mt-5 text-lg [text-wrap:balance] md:text-xl">
    {text}
  </blockquote>
  <!-- <a href={path}>{button}</a> -->
  <div class="mt-6 flex items-center gap-4">
    <Link href={path} size="sm" class="group inline-flex items-center gap-px">
      <span>{button}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="mt-px h-4 w-4 transition-transform group-hover:translate-x-1">
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"></path>
      </svg>
    </Link>
  </div>
</Box>
